
nav{
  display: flex;
  /* gap: 600px; */
  justify-content: space-between;
  max-width: 1280px;
  margin: 0 auto ;
  height: 72px;
  align-items: center;
}

nav ul{
  display: flex;
  gap: 24px;
  list-style: none;
  font-weight: 600;
}

.logo{
  display: flex;
  height: 80px;
}